  <tr ID="aux_03" style="display:none;">
    <td colspan=4>外泊・面会</td>

    <td colspan=4></td>
    <td colspan=24 style="color:green">
      <%#= f.text_field :basho, :size=>64 %>
    	<%= check_box_tag(:aa, 1, false) %> 外泊
    	<%= check_box_tag(:aa, 1, false) %> 外出
    	<%= check_box_tag(:aa, 1, false) %> 面会
    	<%= check_box_tag(:aa, 1, false) %> 連絡
    	<%#= f.text_field :basho, :size=>30 %>   	　
    </td>
  </tr>