<div>

<h2>大樹について</h2>


<h3>NOインストール　ケア・サポート・システム</h3>

<p style="font-size:14px; line-height:24px; padding:3px 10px 6px 10px">
&nbsp;&nbsp;児童養護施設で作成、管理する日々のケース記録・処遇計画・業務日誌、そして指定のフォーマットが要求される自立支援計画票の作成等、
児童養護施設に必要な業務を総合的に支援するケア・サポート・システムです。 本当に必要な機能のみに焦点を絞り、シンプルなインターフェースで
感覚的な使用が可能となるように配慮されています。 ＤＢ（データベース）の設計においては、実際の施設へのヒアリングを重ね、現実の業務実態に
マッチした柔軟性のある構造を採用。 従来からある同種のインストール型プログラムとは異なり、ＷＥＢサービス型のツールであるので、指導員同士の
オンタイムでのデータ共有が可能となり、管理者側からは常に最新の業務状況を場所を問わず確認することができるメリットがあります。</p>


<a href="/images/taiju.pdf" border=0>入力イメージ</a>
<a href="/images/taiju.pdf" border=0 title="クリックすると拡大します"><img src="/images/taiju.jpg" width=350></a>


</div>