<% for i in (5..24)%>
  <span style="margin-right:5px">
    <%= link_to_remote "#{i.to_s} ", :update => "",
        :url => {:action => "show_mm", :hh=>i, :kubun=>"workon"} %>
    </span>    
<% end %>

